@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Lora:wght@400;700&display=swap');

:root {
  --font-inter: 'Inter', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-lora: 'Lora', sans-serif;
}

html {
  font-family: var(--font-inter);
}

body {
  @apply antialiased;
}

.ql-toolbar.ql-snow {
  @apply bg-gray-50 border border-gray-200 p-2 flex flex-wrap gap-2 justify-center md:justify-start;
}

.ql-toolbar.ql-snow .ql-formats {
  @apply flex items-center gap-1;
}

.ql-toolbar.ql-snow button,
.ql-toolbar.ql-snow .ql-picker {
  @apply rounded hover:bg-gray-200 transition-colors duration-150 p-1 md:p-2;
}

.ql-toolbar.ql-snow .ql-picker-label {
  @apply text-gray-700 font-medium text-sm md:text-base;
}

.ql-toolbar.ql-snow .ql-picker-options {
  @apply bg-white border border-gray-200 rounded shadow-md p-1 mt-1 text-sm;
}

.ql-snow .ql-tooltip {
  @apply bg-gray-50 border border-gray-200 p-1 left-1/2 transform -translate-x-1/2;
}

.ql-editor {
  @apply min-h-[300px] md:min-h-[500px] p-2 md:p-4 text-gray-800 focus:outline-none w-full;
}

.ql-font-picker {
  @apply rounded border border-gray-300 bg-white text-gray-800 hover:bg-gray-100 transition-colors text-sm md:text-base;
  min-width: 100px;
  max-width: 150px;
}

.ql-toolbar.ql-snow .ql-picker{
  padding: 0rem;
}

.ql-editor span.ql-font-inter {
  font-family: var(--font-inter) !important;
}

.ql-editor span.ql-font-roboto {
  font-family: var(--font-roboto) !important;
}

.ql-editor span.ql-font-open-sans {
  font-family: var(--font-open-sans) !important;
}

.ql-editor span.ql-font-lora {
  font-family: var(--font-lora) !important;
}

.ql-editor span.ql-font-sans-serif {
  font-family: sans-serif !important;
}